* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px !important;
}

.messageLine {
    font-family: monospace;
    font-size: 16px;
}

.messageLine.log {
    color: #000000;
}

.messageLine.info {
    color: #0013e6;
}

.messageLine.warn {
    color: #e6d200;
}

.messageLine.error {
    color: #e60000;
}